<!DOCTYPE html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>

    
    

    <div style="color:#FFFFFF"; class="container center">
      <div class="jumbotron center" style="background-color: #2c3e50";>
        <h2> Inscríbete como Videotutor</h2>
        <img src='<%= asset_path 'mini.jpg' %>' class="img-rounded"   width="210" height="100"/>
        <br>
        <br>
        <p class="lead">Estamos buscando ayudantes o alumnos de la universidad para grabar videos de diversos ramos, para ir en ayuda de estudiantes nuevos. El único requisito es tener disponibilidad para realizar estas grabaciones. En caso que quedes seleccionado, te contactaremos. ¿Estás preparado para inscribirte en este desafío? </p>
        <p><a style="color:#FFFFFF;" class="btn btn-primary btn-lg" href="tutors/new" >Inscribirme</a></p>
        
      </div>
    </div>


 
</html>

