<br>
<br>
<div class=jumbotron>
<div class="row center">
<h3 style="color:#FFFFFF;"> Se han enviado tus datos, te estaremos comunicando via mail si has quedado seleccionado, muchas gracias por aceptar este desafío!</h3>
<p><a style="color:#FFFFFF;" class="btn btn-primary btn-sm"href="https://videotutores.herokuapp.com/" >Volver</a></p> 
</div>
</div>
