

<%= form_for(@contacto) do |f| %>
  <% if @contacto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacto.errors.count, "error") %> prohibited this contacto from being saved:</h2>

      <ul>
      <% @contacto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form id="form" class="topBefore">
    
      <input id="nombre" type="text" placeholder="NOMBRE">
      <input id="email" type="text" placeholder="E-MAIL">
      <textarea id="mensaje" type="text" placeholder="MENSAJE"></textarea>

  <div class="center row">
           <div class = "col-xs-12 col-sm-6 col-md-8">
                <%=f.submit "Enviar " ,class:"btn center-align"%>
           </div>
  </div>
  
</form>




  <% end %>
  

