<br>
<br>
<div class=jumbotron>
<div class="row center">
<h3 style="color:#FFFFFF;">Tu duda, consulta u observación ha sido enviado con éxito. Te ayudaremos lo más pronto posible. Gracias por confiar en nosotros !</h3>
<p><a style="color:#FFFFFF;" class="btn btn-primary btn-sm"href="https://videotutores.herokuapp.com/" >Volver</a></p> 
</div>
</div>