$body-bg: #ecf0f1;
$navbar-inverse-bg: #ecf0f1;
$navbar-inverse-link-color: white;
$brand-primary: #27ae60;
$jumbotron-bg: rgba(52, 73, 94,1.0);
@import 'bootstrap-sprockets';  
@import 'bootstrap';

.center{
	text-align:center;
}



